<ion-content [scrollEvents]="true">

<div class="modal fade" role="dialog" data-backdrop="false" tabindex="-1" id="addToPlaylist" appendTo="body">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: var(--danger);">
                <h4 class="modal-title">Add to a playlist</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive table-borderless" style="width: 100%;">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>

                            <tr *ngIf="playlistsToAddTrack.length == 0; else elseBlock">
                                <td class="text-center" colspan="2"><em>No playlists yet</em></td>
                            </tr>
                            <tr #elseBlock *ngFor="let p of playlistsToAddTrack" (click)="addToPlaylist(p._id, playingTrack.spotify)" id="row_{{p._id}}">
                                <td><strong>{{p.name}}</strong></td>
                                <td>{{p.tracks.length}} track<span *ngIf="p.tracks.length > 1">s</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer" style="background: var(--danger);">
                <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="listenToTrack" class="d-none">
    <div class="player">
        <div class="container">
            <div class="icons">
                <span (click)="returnToTrackList()"><ion-icon name="arrow-undo-outline"></ion-icon></span>
                <h1>10H PlayeR</h1>
                <span (click)="likeTrack()"><ion-icon [name]="playingTrack.liked ? 'heart' : 'heart-outline'"></ion-icon></span>
                <span (click)="openModal()"><ion-icon name="add-circle-outline"></ion-icon></span>
            </div>

            <div class="img">
                <img src="{{playingTrack.cover}}">
            </div>

            <div class="title">
                <h1>{{playingTrack.name}}</h1>
                <p>{{playingTrack.group}}</p>
            </div>

            <div class="time">
                00:00
                <span></span>
                00:30
            </div>

            <div class="seek">
                <div class="fill"></div>
            </div>


        </div>
        
        <div class="audio-btns">

            <div class="play-btns">
                <button class="decrease item" (click)="decreaseVolume()">-</button>
                <span class="play-pause" (click)="togglePlay()"><ion-icon [name]="playIcon ? 'play' : 'pause'"></ion-icon></span>
                <button class="increase item" (click)="increaseVolume()">+</button>
            </div>

        </div>
    </div>
</div>



<div id="tracks">
    <div class="row no-gutters padMar" style="margin-bottom: 10px;">
        <div class="col padMar">
            <div class="input-group">
                <div class="input-group-prepend"></div>
                <input #searchTrackValue class="form-control autocomplete" type="text" placeholder="Search for a song" style="background: rgba(17, 17, 17, 0.521);color: rgb(119,126,133);">
                <div (click)='searchTrack(searchTrackValue.value)' class="input-group-append"><button class="btn btn-dark" type="button"><i class="fa fa-search"></i></button></div>
            </div>
        </div>
    </div>
    <div id="searchTrackBilan" class="row no-gutters d-none" style="margin-bottom: 32px;">
    <div class="col">
        <h5 class="text-center text-body" style="margin-top: 17px;" id="searchTrackResults"></h5>
    </div>
    </div>
    <div class="row no-gutters align-items-center rowMusicItem" data-bs-hover-animate="pulse" *ngFor="let p of tracksTrackTab" id="{{p.uuid}}" (click)="playMusic(p.spotify)">
    <div class="col-3">
        <img src="{{p.cover}}" style="width: 83px;">
    </div>
    <div class="col-6" style="margin-top: 11px;">
        <p style="font-size: 13px;color: var(--gray);"> <i class="fas fa-users"></i>
        <strong> {{p.group}}</strong><br> 
        <i class="fas fa-music"></i> 
        <em> {{p.title}}</em><br> 
        <i class="far fa-clock"></i> {{p.duration}}</p>
    </div>
    <div class="col-2 text-right" style="margin-top: 11px;">
        <p style="font-size: 13px;color: var(--gray);"><i class="far fa-list-alt"></i> {{p.playlists.length}}</p>
    </div>
    </div>
</div>

</ion-content>