<ion-content [scrollEvents]="true">

<div id="listenToTrack">
    <div class="img_box">
        <img src="">
    </div>
    <div id="container">
        <h2>Chapitre 3</h2>
        <ion-range min="0" max="100" value="40" mode="md" color="warning"></ion-range>
        <p>--:--</p>
    </div>
    <div class="flex_box">
        <ion-button fill="clear" color="light">
          <ion-icon slot="icon-only" name="play-back"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="light">
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="light">
          <ion-icon slot="icon-only" name="play-forward"></ion-icon>
        </ion-button>
      </div>
      
</div>


<div id="tracks" class='d-none'>
    <div class="row no-gutters padMar" style="margin-bottom: 10px;">
        <div class="col padMar">
            <div class="input-group">
                <div class="input-group-prepend"></div>
                <input #searchTrackValue class="form-control autocomplete" type="text" placeholder="Search for a song" style="background: rgba(17, 17, 17, 0.521);color: rgb(119,126,133);">
                <div (click)='searchTrack(searchTrackValue.value)' class="input-group-append"><button class="btn btn-dark" type="button"><i class="fa fa-search"></i></button></div>
            </div>
        </div>
    </div>
    <div id="searchTrackBilan" class="row no-gutters d-none" style="margin-bottom: 32px;">
    <div class="col">
        <h5 class="text-center text-body" style="margin-top: 17px;" id="searchTrackResults"></h5>
    </div>
    </div>
    <div class="row no-gutters align-items-center rowMusicItem" data-bs-hover-animate="pulse" *ngFor="let p of tracksTrackTab" id="{{p.uuid}}">
    <div class="col-3">
        <img src="{{p.cover}}" style="width: 83px;">
    </div>
    <div class="col-6" style="margin-top: 11px;">
        <p style="font-size: 13px;color: var(--gray);"> <i class="fas fa-users"></i>
        <strong> {{p.group}}</strong><br> 
        <i class="fas fa-music"></i> 
        <em> {{p.title}}</em><br> 
        <i class="far fa-clock"></i> {{p.duration}}</p>
    </div>
    <div class="col-2 text-right" style="margin-top: 11px;">
        <p style="font-size: 13px;color: var(--gray);"><i class="far fa-list-alt"></i> {{p.playlists.length}}</p>
    </div>
    </div>
</div>

</ion-content>