<ion-content [scrollEvents]="true">
  <div class="ion-page" id="main-content">
  <div class="login-clean">
      <form class="formauth" method="post" name="login">
          <h2 class="sr-only">Login Form</h2>
          <div class="illustration">
            <img data-bs-hover-animate="pulse" src="assets/img/logo.png">
          </div>
          <h4>Login</h4>
          <div class="form-group">
            <input style="border-radius: 20px;" class="form-control form-control-sm" type="text" name="username" placeholder="Username" required minlength="3" #username (input)='inputLog(username.value, password.value)'>
          </div>
          <div class="form-group">
            <input style="border-radius: 20px;" class="form-control form-control-sm" type="password" name="password" placeholder="Password" required minlength="3" #password (input)='inputLog(username.value, password.value)'></div>
          <div class="form-group">
            <button id="loginbtn" class="btn btn-primary btn-block" disabled data-bs-hover-animate="pulse" type="button" (click)="login(username.value, password.value)" style="border-radius: 20px;">Log In</button>
          </div>
          <div id="alert" class="alert alert-danger d-none" role="alert" style="font-size: 13px;">
            <span id="alertmsg" style="line-height: 1px;"></span>
          </div>
          
          <a href="/forgot-password" class="forgot">Forgot your password?</a>
          <a href="/register" class="forgot" style="margin-top: 10px;">Don't have an account yet?</a>
          <div class="form-group">
            <a type="button" style="font-size: 12px;" class="btn btn-primary btn-block" type="button" >Authenticate with <strong>Google</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<i class="fab fa-google"></i></a>
            <a href="http://localhost:8080/authenticate/oauth/facebook" type="button" class="btn btn-primary btn-block" type="button" style="margin-top: 12px;background: var(--blue);font-size: 12px;">Authenticate with <strong>Facebook</strong>&nbsp; &nbsp; &nbsp; &nbsp;<i class="fab fa-facebook"></i></a>
          </div>
      </form>
    </div>
  </div>
